* { box-sizing: border-box; margin: 0; padding: 0; -webkit-font-smoothing: antialiased;}

html, button, select, input {
  font-family: "Maison Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.app {
  padding: 32px;
}

/* for sake of demo */

.text-label:first-of-type {
  margin-bottom: 32px;
}
* + .text-label {
  margin: 32px 0;
}
